body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
}

.container {

    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 200px;
 
    
}

.profile img {
    width: 150px;
    height: 150px;  
    border-radius: 50%;
    border: 3px solid #ddd;
}
.profile{
    display: flex;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 100px;
}

h2 {
    font-size: 30px;
    margin: 10px 0 5px;
}

.role {
    color: gray;
    font-size: 25px;
}

.social-links img {
    width: 24px;
    height: 24px;
    margin: 5px;
    border: white;
}

.description {
    margin: 15px 0;
    font-size: 19px;
    color: #333;
}

.buttons {
    margin-top: 15px;
}

.btn {
    color: #1E90FF;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #1E90FF;
}

.primary {
    background-color: #1E90FF;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    margin-top: 190px;
    font-size: 12px;
    color: gray;
}
.name{
    padding-left: 5px;
    margin-left:-300px ;
}
